.less5minutes
{
    background-color:green;
    color:white;
}

.less10minutes
{
    background-color:red;
    color:white;
}

.less30minutes
{
    background-color:orange;
    color:white;
}

.greater30minutes
{
    background-color:magenta;
    color:white;
}
